.idea/
.metadata/
c4c-integration/
hybris/data/
hybris/log/
hybris/bin/ext-accelerator/
hybris/bin/ext-addon/
hybris/bin/ext-atdd/
hybris/bin/ext-atddtests/
hybris/bin/ext-backoffice/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/platform/
hybris/bin/ext-eventtracking/
hybris/bin/ext-incubator/
hybris/bin/ext-integration/
hybris/bin/ext-platform-backoffice/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/roles/
hybris/temp/
hybris-ems/
hybris-sbg/

hybris-Mobile-Apps-SDK/
installer/
licenses/
RemoteSystemsTempFiles/
Servers/

build-tools/
c4c-integration/
 
 
hybris/config/solr/
hybris/config/Docker/
hybris/config/tcServer/
hybris/config/tomcat/
hybris/config/language/
hybris/config/licence/
hybris/config/customize/
hybris/config/backup/

 
 

*.zip
*.class
*.jpeg
.classpath
.project
*.iml

pom.xml
 
 
